
@font-face {
    font-family:'Overpass';
    src: url('../assets/Overpass/Overpass-Black.ttf');
    font-weight:600;
}
@font-face {
    font-family:'Montserrat';
    src: url('../assets/Montserrat/Montserrat-Light.ttf');
    font-weight:300;
}
@font-face {
    font-family:'Montserrat';
    src: url('../assets/Montserrat/Montserrat-Regular.ttf');
    font-weight:400;
}
@font-face {
    font-family:'Montserrat';
    src: url('../assets/Montserrat/Montserrat-SemiBold.ttf');
    font-weight:500;
}
@font-face {
    font-family:'Montserrat';
    src: url('../assets/Montserrat/Montserrat-Bold.ttf');
    font-weight:700;
}
@font-face {
    font-family:'Montserrat';
    src: url('../assets/Montserrat/Montserrat-Black.ttf');
    font-weight:900;
}