.News-Single {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    margin-bottom: 50px;
    .container {
        opacity: 0;
        transition: 1s;
        margin: auto;
        padding: 30px;
        margin-top: 170px;
        position: relative;
        animation: showContent .6s forwards;
        animation-delay: 1s;
        width: 65%;
        @media (max-width: 900px) {
            margin-left:120px;
        }
        @include tablet{
            margin-left:15%;
            width:75%;
            margin-top:200px;
            padding:0;
        }
    }
    h1 {
        display: inline-block;
        position: relative;
        color: #000;
        font-weight: 700;
        line-height:60px;
        font-size: 50px;
        width: 100%;
        text-align: left;
        margin-bottom: 10px;
        @include tablet{
            font-size:35px;
            line-height:45px;
        }
        span {
            background: #fff;
            padding-right: 15px;
        }
        &:after {
            content: '';
            bottom: 9px;
            left: 0;
            position: absolute;
            height: 3px;
            width: 100%;
            background: $decoration-color;
            z-index: -2;
        }
    }
    img {
        width: 100%;
        margin-bottom:20px;
    }
    h2 {
        @include heading2
    }
    p {
        font-size: 16px;
        line-height: 1.4;
        text-align: left;
        margin-top: 15px;
        position: relative;
        margin-left: 20px;
        &:after {
            content: '';
            position: absolute;
            left: -20px;
            top: 0;
            height: 100%;
            width: 3px;
            background: $decoration-color;
        }
    }
    ul{
        list-style-type: disc;
        margin-left:40px;
    }
    strong{
        color: $decoration-color;
    }

    &.fade-exit-active {
        .container {
            animation: hideContent .6s forwards;
        }
    }
}