.Cookies{
    position: absolute;
    bottom:0;
    left:0;
    width:200px;
    background: #ffffff;
    border-top:1px solid $border-color;
    border-right:1px solid $border-color;
    z-index:5;
    p{
        font-size:14px;
        line-height:1.2;
    }
    span{
        font-size:16px;
        padding:3px 6px;
        border:1px solid $border-color;
        margin:6px auto;
        display: inline-block;
        cursor: pointer;
        user-select: none;
    }
}