.popup{
    .text-box{
        position: fixed;
        width:50%;
        top:50%;
        left:50%;
        transition: .5s;
        max-width: 400px;
        transform: translate(-50%, -50%);
        background: #fff;
        z-index:250;
        padding: 0 20px;
        min-height: 220px;
        @include mobile{
            width:80%;
        }
        .nop{
            position: absolute;
            top:0;
            right:5px;
            width:20px;
            cursor: pointer;
        }
        h2{
            font-size:24px;
            margin:20px auto;
            font-weight:500;
        }
        h3{
            font-size:30px;
            color: $decoration-color;
            font-weight:500;
            padding-top:50px;
        }
        h4{
            font-size:18px;
            margin-top:20px;
        }
        p{
            margin: 20px auto;
            background: $decoration-color;
            color: #fff;
            padding:6px 20px;
            display: inline-block;
            transform: rotate(4deg)
        }
        textarea{
            width:90%;
            box-sizing: border-box;
            border:1px solid #bbb;
            padding-left:4px;
            &::placeholder{
                font-size:14px;
                font-weight:300;
            }
        }
        input{
            display: block;
            width:90%;
            border:1px solid #bbb;
            margin:10px auto;
            line-height:30px;
            height:30px;
            font-size:18px;
            box-sizing: border-box;
            padding-left:4px;
            &::placeholder{
                font-weight:300;
            }
            &:focus{
                outline-color: $decoration-color;
            }
            &[name='name']{
                text-transform: capitalize;
            }
        }
        button{
            width:90%;
            background: $decoration-color;
            color: #fff;
            font-size:18px;
            margin:20px auto;
            padding:5px 0;
            border:none;
            outline: none;
            margin-bottom:35px;
            cursor: pointer;
        }
    }
    .backdrop{
        position: fixed;
        width:100%;
        height:100%;
        z-index:200;
        background: rgba(0,0,0,.4);
    }
}